.App {
  text-align: center;
}

.centerContent{
  display: flex;
  justify-content: center;
}

.centerContent .card-b-color{
  background-color: #dedbdb;
  margin-bottom: 2%;
  margin-top: 2%;
}

.centerContent .textDec{
  color:#000000;
  font-size: 16px;
  line-height: 2;
}

.centerContent .content{
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
